/* below is navbar */

body {
  font-family: 'Lexend Deca', sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #D04726;
  font-family: 'Lexend Deca', sans-serif;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

  .navbar a {
    font-family: 'Lexend Deca', sans-serif;
  }

/* above is navbar */



/* .pics {
  background: red;
  margin: 0 auto;
  diplay: block;
  padding: 40px 0;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
} */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.Gamenumbers-2 {
  height: 100vh;
  width: 100%;
  background-image: url(Gamenumbers-2.png);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  text-align: center;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
}

.containerr {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  width: 33.33%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
